<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top ">

    <div class="container">
      <iframe src="https://giphy.com/embed/PjaVO2QgB95iKsRmGZ" width="40" height="40" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <a href="home" class="navbar-brand text-uppercase font-weight-bold">SOLAR POWER</a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="navbar-toggler-icon"></i></button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="home" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><div class="nav-link text-uppercase font-weight-bold dropdown">Product
            <!--<button class="dropbtn"><i class="fa fa-caret-down"></i></button>-->
            <div class="dropdown-content">
              <a href="products/category-1">Category 1</a>
              <a href="products/category-2">Category 2</a>
              <a href="products/category-3">Category 3</a>
            </div>
          </div></li>
          <li class="nav-item"><a href="about" class="nav-link text-uppercase font-weight-bold">About</a></li>
          <li class="nav-item"><a href="contact" class="nav-link text-uppercase font-weight-bold">Contact Us</a></li>
          <li class="nav-item">

            <svg style="display: none">
              <symbol id="magnify" viewBox="0 0 18 18" height="100%" width="100%">
                <path d="M12.5 11h-.8l-.3-.3c1-1.1 1.6-2.6 1.6-4.2C13 2.9 10.1 0          6.5 0S0 2.9 0 6.5 2.9 13 6.5 13c1.6 0 3.1-.6 4.2-1.6l.3.3v.8l5 5          1.5-1.5-5-5zm-6 0C4 11 2 9 2 6.5S4 2 6.5 2 11 4 11 6.5 9 11 6.5            11z" fill="#fff" fill-rule="evenodd"/>
              </symbol>
            </svg>

            <div class="search-bar">
              <input type="text" class="input" placeholder="&nbsp;">
              <span class="label">Search</span>
              <span class="highlight"></span>
              <div class="search-btn">
                <svg class="icon icon-18">
                  <use xlink:href="#magnify"></use>
                </svg>
              </div>
            </div>
          </li>

          <li class="nav-item "><span class="fa-stack fa-2x has-badge" (click)="onClickCart()" attr.data-count="{{this.cartCount}}">
            <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-shopping-cart  fa-stack-1x fa-inverse"></i></span></li>
            <li class="nav-item"><span class="fa-stack fa-2x" (click)="onClickCheckOut()" >
            <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-user  fa-stack-1x fa-inverse"></i></span></li>
          <!-- (click)="onClickprofile()-->
          <li class="nav-item " >
            <div class="nav-link text-uppercase  font-weight-bold dropdown" id="nav-avatar" >
              <ngx-avatar facebookId="2588251434737321"
                          googleId="google" name="Haithem Mosbahi" src="assets/avatar.jpg"
                          value="28%"  twitterId="twitter"
                          fgColor="#58D3F7"
                          gravatarId="adde9b2b981a8083cf084c63ad86f753"
                          size="34" [round]="true">
              </ngx-avatar>
              <!--<button class="dropbtn"><i class="fa fa-caret-down"></i></button>-->
              <div class="dropdown-content">
                <button (click)="onClickLoging()">Loging</button>
                <a  *ngIf="token"  (click)="onClickLoging()" > Loging</a>
                <a  (click)="onClickLogOut()">Log Out</a>
                <a  >Profile</a>
              </div>
            </div>

          </li>


        </ul>
      </div>
    </div>
  </nav>

</header>

<router-outlet></router-outlet>

<footer class="new_footer_area bg_color">
  <div class="new_footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
            <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
            <p>Don’t miss any updates of our new templates and extensions.!</p>
            <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
              <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
              <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
              <p class="mchimp-errmessage" style="display: none;"></p>
              <p class="mchimp-sucmessage" style="display: none;"></p>
            </form>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
            <h3 class="f-title f_600 t_color f_size_18">Download</h3>
            <ul class="list-unstyled f_list">
              <li><a href="#">Company</a></li>
              <li><a href="#">Android App</a></li>
              <li><a href="#">ios App</a></li>
              <li><a href="#">Desktop</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">My tasks</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
            <h3 class="f-title f_600 t_color f_size_18">Help</h3>
            <ul class="list-unstyled f_list">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Term &amp; conditions</a></li>
              <li><a href="#">Reporting</a></li>
              <li><a href="#">Documentation</a></li>
              <li><a href="#">Support Policy</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
            <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
            <div class="f_social_icon">
              <a href="#"  ><img  style="padding: 0 0 9px 5px" src="assets/images/fb.png"></a>
              <a href="#"  ><img  style="padding: 0 0 9px 5px" src="assets/images/tweeter.png"></a>
              <a href="#"  ><img  style="padding: 0 0 9px 5px" src="assets/images/linkedin.png"></a>
              <a href="#"  ><img  style="padding: 0 0 9px 5px" src="assets/images/insta.png"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bg">
      <div class="footer_bg_one"></div>
      <div class="footer_bg_two"></div>
      <div class="footer_bg_two"></div>
      <iframe class="jip" src="https://giphy.com/embed/9S1zk9zG8dHD5DqRIB" width="250" height="300" frameBorder="0"  ></iframe>
    </div>
  </div>
</footer>
