<div class="my-modal">
  <div class="animated fadeIn">
    <div class="modal-header">
      <h1 class="modal-title">Your CheckOUT</h1>
      <button (click)="onCloseModal({});" aria-label="Close" class="close pull-right" type="button">
        <span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-dialog-scrollable">
      <div class="modal-body">
        <div class="pb-1">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="row mr-1">
                  <!--<div class="mr-1">-->
                  <div class="col-lg-12 p-2 bg-white rounded shadow-sm mb-2">

                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                      <table class="table">
                        <!--<thead>-->
                        <!--<tr>-->
                        <!--<th scope="col" class="border-0 bg-light">-->
                        <!--<div class="p-2 px-3 text-uppercase">Product</div>-->
                        <!--</th>-->
                        <!--<th scope="col" class="border-0 bg-light">-->
                        <!--<div class="py-2 text-uppercase">Price</div>-->
                        <!--</th>-->
                        <!--<th scope="col" class="border-0 bg-light">-->
                        <!--<div class="py-2 text-uppercase">Quantity</div>-->
                        <!--</th>-->
                        <!--<th scope="col" class="border-0 bg-light">-->
                        <!--<div class="py-2 text-uppercase">Remove</div>-->
                        <!--</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <tbody>
                        <tr>
                          <th class="border-0" scope="row">
                            <div class="p-0">
                              <img alt="" class="img-fluid rounded shadow-sm"
                                   src="assets/images/cart.jpg"
                                   width="120">
                            </div>
                          </th>
                          <td class="border-0 align-middle">
                            <div class="ml-0 d-inline-block align-middle">
                              <h6 class="mb-0"><a class="text-dark d-inline-block align-middle" href="#">Timex Unisex
                                Originals</a></h6><h6><span class="text-muted font-weight-normal font-italic d-block">Category: Watches</span></h6>
                            </div>
                          </td>
                          <td class="border-0 align-middle"><strong>$79.00</strong></td>
                          <td class="border-0 align-middle"><input type="number" value="3" min="0" max="99"></td>
                          <td class="border-0 align-middle"><a class="text-dark" href="#"><i
                            class="fa fa-trash"></i></a></td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <div class="p-0">
                              <img alt="" class="img-fluid rounded shadow-sm"
                                   src="assets/images/cart2.jpg"
                                   width="120">
                            </div>
                          </th>
                          <td class="align-middle">
                            <div class="ml-0 d-inline-block align-middle">
                              <h6 class="mb-0"><a class="text-dark d-inline-block align-middle" href="#">Timex Unisex
                                Originals</a></h6><h6><span class="text-muted font-weight-normal font-italic d-block">Category: Watches</span></h6>
                            </div>
                          </td>
                          <td class="align-middle"><strong>$79.00</strong></td>
                          <td class="align-middle"><strong>3</strong></td>
                          <td class="align-middle"><a class="text-dark" href="#"><i class="fa fa-trash"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">
                            <div class="p-0">
                              <img alt="" class="img-fluid rounded shadow-sm"
                                   src="assets/images/cart3.jpg"
                                   width="120">
                            </div>
                          </th>
                          <td class="align-middle">
                            <div class="ml-0 d-inline-block align-middle">
                              <h6 class="mb-0"><a class="text-dark d-inline-block align-middle" href="#">Timex Unisex
                                Originals</a></h6><h6><span class="text-muted font-weight-normal font-italic d-block">Category: Watches</span></h6>
                            </div>
                          </td>
                          <td class="align-middle"><strong>$79.00</strong></td>
                          <td class="align-middle"><strong>3</strong></td>
                          <td class="align-middle"><a class="text-dark" href="#"><i class="fa fa-trash"></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- End -->
                    <!--</div>-->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row py-3 p-2 bg-white rounded shadow-sm">
                  <!--<div class="col-lg-12">-->
                  <!--<div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>-->
                  <!--<div class="p-4">-->
                  <!--<p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>-->
                  <!--<div class="input-group mb-4 border rounded-pill p-2">-->
                  <!--<input type="text" placeholder="Apply coupon" aria-describedby="button-addon3" class="form-control border-0">-->
                  <!--<div class="input-group-append border-0">-->
                  <!--<button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Apply coupon</button>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--</div>-->
                  <!--<div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>-->
                  <!--<div class="p-4">-->
                  <!--<p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>-->
                  <!--<textarea name="" cols="30" rows="2" class="form-control"></textarea>-->
                  <!--</div>-->
                  <!--</div>-->
                  <div class="col-lg-12">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase text-center font-weight-bold">Order
                      summary
                    </div>
                    <div class="p-2">
                      <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have
                        entered.</p>
                      <ul class="list-unstyled mb-4">
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order
                          Subtotal </strong><strong>$390.00</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping
                          and handling</strong><strong>$10.00</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                          class="text-muted">Tax</strong><strong>$0.00</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                          class="text-muted">Total</strong>
                          <h5 class="font-weight-bold">$400.00</h5>
                        </li>
                      </ul>
                      <a class="btn btn-dark rounded-pill py-2 btn-block"  >Procceed to checkout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="onCloseModal({});" class="btn btn-sm btn-secondary" data-dismiss="modal"
              type="button">Checkout
      </button>
      <button (click)="onCloseModal({});" class="btn btn-sm btn-secondary" data-dismiss="modal"
              type="button">Cancel
      </button>
    </div>
  </div>
</div>

