<div class="col-xs-12">
  <div class="col-12" style="padding: 0
">
    <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
      <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
        <li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
        <li data-slide-to="2" data-target="#carouselExampleIndicators"></li>
        <li data-slide-to="3" data-target="#carouselExampleIndicators"></li>
        <li data-slide-to="4" data-target="#carouselExampleIndicators"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img alt="First slide" class="d-block w-100" src="assets/images/slide-02.jpg">
        </div>
        <div class="carousel-item">
          <img alt="Second slide" class="d-block w-100" src="assets/images/slide-06.jpg">
        </div>
        <div class="carousel-item">
          <img alt="Third slide" class="d-block w-100" src="assets/images/slide-03.jpg">
        </div>
        <div class="carousel-item">
          <img alt="forth slide" class="d-block w-100" src="assets/images/slide-04.jpg">
        </div>
        <div class="carousel-item">
          <img alt="Third slide" class="d-block w-100" src="assets/images/slide-05.jpg">
        </div>

      </div>
      <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


<!--product card  start-->

<div class="container">
  <div class="col-md-8 offset-md-2">
    <div  class="section-heading  text-center"  style="margin-top: 10px">
      <h2 style="font-size: 40px">Our Products</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
    </div>
  </div>
</div>

<div class="row " >
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  "  style="margin-top: 20px"*ngFor=" let item of items">

        <app-item-card  *ngIf="home"  [item]="item"></app-item-card>

      </div>
    </div>
  </div>
</div>

<!--product card  end -->

<!--testomonials-->


<section id="testimonial-area">
  <div class="container">
    <div class="row">

      <div class="col-md-8 offset-md-2">
        <div class="section-heading text-center">
          <h2>A Word From Our Customers</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
        </div>
      </div>

    </div>
    <div class="testi-wrap">

      <div class="client-single active position-1" data-position="position-1">
        <div class="client-img">
          <img src="https://cdn.dribbble.com/users/2132253/avatars/small/1799e2c9badff08058551384763e284c.jpg?1568268299" alt="">
        </div>
        <div class="client-comment">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
          <span><i class="fa fa-quote-left"></i></span>
        </div>
        <div class="client-info">
          <h3>Design By</h3>
          <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
        </div>
      </div>

      <div class="client-single inactive position-2" data-position="position-2">
        <div class="client-img">
          <img src="https://cdn.dribbble.com/users/2132253/avatars/small/1799e2c9badff08058551384763e284c.jpg?1568268299" alt="">
        </div>
        <div class="client-comment">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
          <span><i class="fa fa-quote-left"></i></span>
        </div>
        <div class="client-info">
          <h3>Design By</h3>
          <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
        </div>
      </div>

      <div class="client-single inactive position-3" data-position="position-3">
        <div class="client-img">
          <img src="https://cdn.dribbble.com/users/2132253/avatars/small/1799e2c9badff08058551384763e284c.jpg?1568268299" alt="">
        </div>
        <div class="client-comment">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
          <span><i class="fa fa-quote-left"></i></span>
        </div>
        <div class="client-info">
          <h3>Design By</h3>
          <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
        </div>
      </div>

      <div class="client-single inactive position-4" data-position="position-4">
        <div class="client-img">
          <img src="https://media.licdn.com/dms/image/C4E03AQFbvYtvSeyw-g/profile-displayphoto-shrink_100_100/0?e=1574294400&v=beta&t=49_VH9HRvqymP-VLETlFhFt4idmunZPhIQfALwaTrmA" alt="">
        </div>
        <div class="client-comment">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
          <span><i class="fa fa-quote-left"></i></span>
        </div>
        <div class="client-info">
          <h3>Design By</h3>
          <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
        </div>
      </div>

      <div class="client-single inactive position-5" data-position="position-5">
        <div class="client-img">
          <img src="https://cdn.dribbble.com/users/2132253/avatars/small/1799e2c9badff08058551384763e284c.jpg?1568268299" alt="">
        </div>
        <div class="client-comment">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
          <span><i class="fa fa-quote-left"></i></span>
        </div>
        <div class="client-info">
          <h3>Design By</h3>
          <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
        </div>
      </div>

      <div class="client-single inactive position-6" data-position="position-6">
        <div class="client-img">
          <img src="https://cdn.dribbble.com/users/2132253/avatars/small/1799e2c9badff08058551384763e284c.jpg?1568268299" alt="">
        </div>
        <div class="client-comment">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
          <span><i class="fa fa-quote-left"></i></span>
        </div>
        <div class="client-info">
          <h3>Design By</h3>
          <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
        </div>
      </div>

      <div class="client-single inactive position-7" data-position="position-7">
        <div class="client-img">
          <img src="https://cdn.dribbble.com/users/2132253/avatars/small/1799e2c9badff08058551384763e284c.jpg?1568268299" width="40px" alt="">
        </div>
        <div class="client-comment">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
          <span><i class="fa fa-quote-left"></i></span>
        </div>
        <div class="client-info">
          <h3>Design By</h3>
          <p><a href="https://manjaygupta.com">Manjay Gupta</a></p>
        </div>
      </div>

    </div>
  </div>
</section>

