<div class="my-modal" >
  <div class="animated fadeIn">
    <div class="modal-header">
      <h1 class="modal-title">Your profile</h1>
      <button (click)="onCloseModal({});" aria-label="Close" class="close pull-right" type="button">
        <span aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-footer">
      <button (click)="onCloseModal({});" class="btn btn-sm btn-secondary" data-dismiss="modal"
              type="button">Checkout
      </button>
      <button (click)="onCloseModal({});" class="btn btn-sm btn-secondary" data-dismiss="modal"
              type="button">Cancel
      </button>
    </div>
  </div>
</div>


