<h1><p>details works!</p></h1>
<div class="container">
  <div class="image-viewer">
    <div class="main-image">
      <img src="http://placehold.it/500x500/f4c242/black/"/>
    </div>
    <div class="secondary-images">
      <div class="secondary-image">
        <img src="http://placehold.it/500x500/f4c242/black/"/>
      </div>
      <div class="secondary-image">
        <img src="http://placehold.it/200x1000/42c8f4/black/"/>
      </div>
      <div class="secondary-image">
        <img src="http://placehold.it/300x600/bf42f4/black/"/>
      </div>
      <div class="secondary-image">
        <img src="http://placehold.it/3200x1800/f4425c/black/"/>
      </div>
    </div>
  </div>
  <div class="detail">
    <h1 class="detail-name">Sample Product</h1>
    <p class="detail-short-description">
      Bacon ipsum dolor amet boudin strip steak ham, cupim fatback spare ribs short ribs doner ground round jowl bresaola tail jerky ham hock. Corned beef doner shoulder sirloin. Sirloin beef ribs doner, pork loin beef drumstick venison salami burgdoggen. Pork loin frankfurter beef ribs leberkas, flank spare ribs rump.
    </p>
    <div class="detail-long-description">
      <p>Spicy jalapeno bacon ipsum dolor amet velit salami meatball enim jowl quis leberkas esse tempor boudin venison pariatur qui pork loin. Picanha consequat short loin in, swine sirloin tail venison ullamco adipisicing. Non cupim meatloaf duis aliquip. Exercitation filet mignon lorem aliquip meatball pork loin jowl. Cow do strip steak, adipisicing pig flank sausage kevin incididunt commodo. Chuck shoulder aliquip tenderloin meatball turducken commodo rump.</p>

      <p>Meatloaf turducken leberkas sirloin hamburger sunt mollit do ut. Swine meatball boudin venison pastrami eu beef ribs velit in laboris fatback dolore pariatur. Aliquip lorem pariatur corned beef, shankle landjaeger ham leberkas jowl deserunt dolore aute do. Voluptate do ham hock shoulder. Quis ut burgdoggen, in minim shank mollit hamburger cillum elit ex do shoulder non. Bresaola kevin dolor qui. Chuck elit frankfurter, lorem velit consectetur tenderloin in rump laborum consequat laboris bacon nulla.</p>

      <p>Hamburger corned beef est turkey strip steak burgdoggen pastrami. Spare ribs swine occaecat pancetta beef ribs, t-bone ex voluptate flank pastrami ipsum non proident. Incididunt reprehenderit rump pastrami excepteur enim. Consectetur proident kevin ad, consequat mollit tri-tip ex enim aliquip bacon ribeye dolor minim. Shoulder elit brisket sint cow frankfurter sausage corned beef doner pork belly occaecat.</p>

      <p>Esse veniam tongue eu eiusmod doner beef ham picanha aliquip fugiat hamburger. Dolor incididunt pork belly strip steak aliquip nisi tri-tip. In spare ribs adipisicing pork loin shoulder pork belly sint officia fugiat quis strip steak. Exercitation eu aute frankfurter ut. Spare ribs enim filet mignon minim ut tri-tip est jerky. Pariatur in pork chop prosciutto boudin laborum.</p>

      <p>Cillum excepteur chuck, pig swine sint ribeye elit ham pork belly shank ea. Kevin adipisicing hamburger, alcatra brisket quis ball tip. Pork chop sirloin kielbasa, ham anim tail lorem aliquip ea cupidatat fatback incididunt. Proident turkey minim occaecat t-bone pork loin tenderloin do irure cow pancetta ham shoulder landjaeger eu. Enim turkey adipisicing kielbasa. Sausage deserunt et ea, nulla shankle ut kevin ground round aute short loin jowl ut. Rump id venison cupidatat picanha.</p>
    </div>
  </div>
  <div class="pricing">
    <div class="pricing-price">$419.99</div>
    <button class="btn pricing-btn">Add to Cart</button>
  </div>
  <div class="lightbox" id="lightbox">
    <img src="http://placehold.it/650x650"/>
    <div class="lightbox-controls">
      <div class="lightbox-controls-close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <div class="lightbox-controls-previous">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="lightbox-controls-next">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>

</div>
