<div class="row">
  <h1>_        {{this.routeUrl | uppercase}}</h1>
</div>
<div class="container">
  <div class="col-md-8 offset-md-2">
    <div  class="section-heading  text-center">
      <h2 style="font-size: 40px">Our Products</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
    </div>
  </div>
  <div class="row row-item">

    <div class="newsItem col-12 col-sm-4 col-md-3 col-lg-3">
      <div class="wrapper">
        <div class="container" style="padding: 0">
          <div class="top"></div>
          <div class="bottom">
            <div class="left">
              <div class="details">
                <h1><a href="products/details">Chair</a></h1>
                <p>£250</p>
              </div>
              <div class="buy"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
            </div>
            <div class="right">
              <div class="done"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              <div class="details">
                <h1><a href="#">Chair</a></h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove"><i class="fa fa-trash" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="fa fa-info-circle fa-2x"   aria-hidden="true"></i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="newsItem col-12 col-sm-4 col-md-3 col-lg-3">
      <div class="wrapper">
        <div class="container" style="padding: 0">
          <div class="top"></div>
          <div class="bottom">
            <div class="left">
              <div class="details">
                <h1>Chair</h1>
                <p>£250</p>
              </div>
              <div class="buy"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
            </div>
            <div class="right">
              <div class="done"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              <div class="details">
                <h1>Chair</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove"><i class="fa fa-trash" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="fa fa-info-circle fa-2x"   aria-hidden="true"></i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="newsItem col-12 col-sm-4 col-md-3 col-lg-3">
      <div class="wrapper">
        <div class="container" style="padding: 0">
          <div class="top"></div>
          <div class="bottom">
            <div class="left">
              <div class="details">
                <h1>Chair</h1>
                <p>£250</p>
              </div>
              <div class="buy"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
            </div>
            <div class="right">
              <div class="done"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              <div class="details">
                <h1>Chair</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove"><i class="fa fa-trash" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="fa fa-info-circle fa-2x"   aria-hidden="true"></i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="newsItem col-12 col-sm-4 col-md-3 col-lg-3">
      <div class="wrapper">
        <div class="container" style="padding: 0">
          <div class="top"></div>
          <div class="bottom">
            <div class="left">
              <div class="details">
                <h1>Chair</h1>
                <p>£250</p>
              </div>
              <div class="buy"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
            </div>
            <div class="right">
              <div class="done"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              <div class="details">
                <h1>Chair</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove"><i class="fa fa-trash" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="fa fa-info-circle fa-2x"   aria-hidden="true"></i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="newsItem col-12 col-sm-4 col-md-3 col-lg-3">
      <div class="wrapper">
        <div class="container" style="padding: 0">
          <div class="top"></div>
          <div class="bottom">
            <div class="left">
              <div class="details">
                <h1>Chair</h1>
                <p>£250</p>
              </div>
              <div class="buy"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
            </div>
            <div class="right">
              <div class="done"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              <div class="details">
                <h1>Chair</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove"><i class="fa fa-trash" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="fa fa-info-circle fa-2x"   aria-hidden="true"></i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="newsItem col-12 col-sm-4 col-md-3 col-lg-3">
      <div class="wrapper">
        <div class="container" style="padding: 0">
          <div class="top"></div>
          <div class="bottom">
            <div class="left">
              <div class="details">
                <h1>Chair</h1>
                <p>£250</p>
              </div>
              <div class="buy"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
            </div>
            <div class="right">
              <div class="done"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              <div class="details">
                <h1>Chair</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove"><i class="fa fa-trash" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="fa fa-info-circle fa-2x"   aria-hidden="true"></i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="newsItem col-12 col-sm-4 col-md-3 col-lg-3">
      <div class="wrapper">
        <div class="container" style="padding: 0">
          <div class="top"></div>
          <div class="bottom">
            <div class="left">
              <div class="details">
                <h1>Chair</h1>
                <p>£250</p>
              </div>
              <div class="buy"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
            </div>
            <div class="right">
              <div class="done"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              <div class="details">
                <h1>Chair</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove"><i class="fa fa-trash" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="fa fa-info-circle fa-2x"   aria-hidden="true"></i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="newsItem col-12 col-sm-4 col-md-3 col-lg-3">
      <div class="wrapper">
        <div class="container" style="padding: 0">
          <div class="top"></div>
          <div class="bottom">
            <div class="left">
              <div class="details">
                <h1>Chair</h1>
                <p>£250</p>
              </div>
              <div class="buy"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
            </div>
            <div class="right">
              <div class="done"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
              <div class="details">
                <h1>Chair</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove"><i class="fa fa-trash" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="fa fa-info-circle fa-2x"   aria-hidden="true"></i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
              <tr>
                <th>Something</th>
                <th>Something</th>
              </tr>
              <tr>
                <td>200mm</td>
                <td>200mm</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<!--http://demo.themefisher.com/adrian/index.html-->

