

  <div >
    <div class="wrapper">
      <div class="container" style="padding: 0">
        <div class="top"></div>
        <div class="bottom">
          <div class="left">
            <div class="details">
              <h1><a href="products/details">{{item.name}}</a></h1>
              <p>£250</p>
            </div>
            <div class="buy" (click)="addToCart()"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
          </div>
          <div class="right">
            <div class="done"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
            <div class="details">
              <h1>Chair</h1>
              <p>Added to your cart</p>
            </div>
            <div class="remove"><i class="fa fa-trash" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
      <div class="inside">
        <div class="icon"><i class="fa fa-info-circle fa-2x"   aria-hidden="true"></i></div>
        <div class="contents">
          <table>
            <tr>
              <th>Width</th>
              <th>Height</th>
            </tr>
            <tr>
              <td>3000mm</td>
              <td>4000mm</td>
            </tr>
            <tr>
              <th>Something</th>
              <th>Something</th>
            </tr>
            <tr>
              <td>200mm</td>
              <td>200mm</td>
            </tr>
            <tr>
              <th>Something</th>
              <th>Something</th>
            </tr>
            <tr>
              <td>200mm</td>
              <td>200mm</td>
            </tr>
            <tr>
              <th>Something</th>
              <th>Something</th>
            </tr>
            <tr>
              <td>200mm</td>
              <td>200mm</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
