//.modal-1 {
//  position: absolute;
//  top: 10px;
//  right: 100px;
//  bottom: 0;
//  left: 0;
//  z-index: 10040;
//}
//.container {
//  margin: auto;
//  width: 80%;
//}
//.shopping-cart {
//  margin: 20px 0;
//  float: right;
//  background: white;
//  width: 320px;
//  position: relative;
//  border-radius: 3px;
//  padding: 20px;
//}

.my-modal{
  background: #6e685c;
  background: -webkit-linear-gradient(to right, #f5efd0, #1e5f80);
  background: linear-gradient(to right, #f5efd0, #1e5f80);
  min-height: 100vh;
}
.btn-dark {
  color: #fff;
  background-color: #1e5f80;
  border-color: #29363d;
}
.btn-dark:hover {
  color: #29363d;
  background-color: #fff;
  border-color: #29363d;
}

input{
  width: 33px;
  border: solid 0.5px #ffffff;
  font-weight: bold;
}
//.modal-dialog{
//  min-width: 1000px;
//}
